@charset "UTF-8";
/* Base Font Setting
============================================ */
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  background: #fff;
  margin: 0;
}
ul,p{
  margin: 0;
  padding: 0;
}
li{
  list-style:none;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: .8;
}

img{
  display: block;
}
.section__text-bold{
  font-weight: 700;
}
.pagetop{
  bottom: -65px;
  position: fixed;
  right: 20%;
  transition: bottom 0.15s ease-out;
  z-index: 51;
}
.pagetop.is-show{
  bottom: 10px;
}
.pagetop-btn img{
  width: 65px;
}
.hidden{
  display: none;
}
/* Header Setting */
.header {
  padding: 0;
  height: 70px;
  background: #D85D29;
}
.header__inner {
  left: 0;
  position: fixed;
  top: -1px;
  transition: all 0.15s ease-out;
  width: 100%;
  z-index: 100;
}
.header__sp {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  width: 95%;
  margin: auto;
  z-index: 5;
}
.header__pc{
  background-color: #fff;
}
.header__pc-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  height: 70px;
  margin: auto;
}
.header__pc-menu-list{
  display: flex;
  gap: 32px;
  align-items: center;
}
.header__pc-logo img{
  width: 210px;
}
.header__pc-insta-logo img{
  width: 32px;
}
.header__pc-menu-btn{
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}
.header__pc-header__sp-btn-menu{
  font-size: 1.4rem;
  color: #000;
  font-weight: 700;
}
/* FOOTER */
.footer{
  background: #000;
  color: #fff;
  position: relative;
}
.footer::after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 110px;
  background: url(/common/images/town_black.png) ;
  background-size: contain;
  background-repeat: repeat;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.footer *{
  z-index: 1;
}
.footer-menu{
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  padding: 90px 0 64px 0;
  margin: auto;
}
.footer-menu__text{
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}
.footer-menu__list-item{
  font-size: 1.4rem;
  margin: 30px 0 0;
}
.footer-menu__list-item:first-child{
  margin: 0;
}
.footer-menu__note-list{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0;
  justify-content: center;
}
.footer-menu__note-list-item > a{
  display: block;
  font-weight: 500;
  line-height: 1.625;
  padding: 0 16px 0 32px;
  position: relative;
  text-align: left;
  color: #fff;
}
.footer-menu__note-list-item > a::before{
  align-items: center;
  bottom: 0;
  color: #fff;
  content: "｜";
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}
.footer-menu__note-list-item{
  display: inline-block;
}
.footer-menu__note-list-item:first-child a{
  padding-left: 0;
}
.footer-menu__note-list-item:last-child a{
  padding-right: 0;
}
.footer-menu__note-list-item:first-child > a::before {
  content: none;
}
#breadcrumbTop, #breadcrumbBottom{
  max-width: 950px;
  width: 100%;
}
#breadcrumbTop{
  margin: 25px auto 0;
}
#breadcrumbBottom{
  margin: 90px auto 25px;
}
#breadcrumbTop a, #breadcrumbBottom a{
  color: #000;
}
#breadcrumbTop li, #breadcrumbBottom li{
  color: #000;
  display: inline-block;
  font-size: 1.3rem;
}
#breadcrumbTop span , #breadcrumbBottom span{
  padding: 0 5px;
}
/* base */
.pc-only{
  display: block;
}
.sp-only{
  display: none;
}
.aln-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.content article > :first-child{
  margin-top: 20px;
}
.content article > .top-section {
  margin-bottom: 48px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .content article > :first-child{
    margin-top: 30px;
  }
  .content article > .top-section {
    margin-bottom: 0;
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .top-section > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 1242px;
  }
}
.top-section > * {
  margin: 0;
  max-width: 100%;
}
.top-keyvisual , .page-label{
  background: #D85D29;
  position: relative;
}
.content article .top-keyvisual {
  margin-top: 0;
}
.top-keyvisual::after ,.page-label::after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 110px;
  background: url(/common/images/town_orange.png) ;
  background-size: contain;
  background-repeat: repeat;
  position: absolute;
  bottom: 10px;
  z-index: 0;
}
.page-label::after{
  height: 82px;
}
.top-keyvisual__inner {
  max-width: calc(890px + (30px * 2)) !important;
  margin-left: auto;
  margin-right: auto;
}
.top-keyvisual-content__inner a {
  padding-bottom: 0;
}
.top-keyvisual-image {
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.top-keyvisual-image::after{
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  top: 5px;
  left: 8px;
  z-index: -1;
}
.top-keyvisual-info {
  margin-top: 16px;
  opacity: 0;
}
.swiper-slide-active .top-keyvisual-info {
  animation: 1s ease-out 0.5s forwards top-keyvisual-info;
  opacity: 1;
}
.top-keyvisual-image img {
  border-radius: 8px;
  border: solid 2px #000;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .top-keyvisual-info {
    margin-left: 3vw;
    margin-top: 3.62vw;
  }
}

.top-keyvisual__title {
  color: #fff;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  max-width: 80vw;
  text-align: left;
}
.top-keyvisual__title span {
  padding: 1.5px 0;
}
.top-keyvisual__sub-title {
  color: #fff;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2;
  max-width: 75vw;
  text-align: left;
}
.top-keyvisual__sub-title span {
  padding: 2px 0;
}
.top-keyvisual__lead {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 4px;
  max-width: 75vw;
  text-align: left;
}
.top-keyvisual__lead span {
  padding: 2px 0;
}
.top-keyvisual-carousel {
  position: relative;
}
.top-keyvisual-carousel {
  overflow: hidden;
  padding: 80px 0;
}
.top-keyvisual-carousel__page {
  align-items: center;
  display: flex;
  transition: margin 0.5s ease-out;
}
.top-keyvisual-carousel__button-prev,
.top-keyvisual-carousel__button-next {
  height: 40px;
  width: 40px;
  top: 27%;
}
@media screen and (min-width: 768px) {
  .top-keyvisual-image {
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
    width: 47.8%;
    height: 100%;
  }
  .top-keyvisual-content__inner a {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0;
  }
  .top-keyvisual-info {
    margin: 40px 0 40px 30px;
    opacity: 1;
    width: 49%;
  }
  .swiper-slide-active .top-keyvisual-info {
    animation: none;
    opacity: 1;
  }
  .top-keyvisual__title {
    font-size: 4.2rem;
    max-width: 530px;
  }
  .top-keyvisual__title span {
    padding: 2px 0;
  }
  .top-keyvisual__sub-title{
    font-size: 1.8rem;
    max-width: 430px;
  }
  .top-keyvisual__sub-title span {
    padding: 2px 0;
  }
  .top-keyvisual__lead {
    font-size: 1.6rem;
    max-width: 430px;
  }
  .top-keyvisual__lead span {
    padding: 1.95px 0;
  }
  .top-keyvisual-carousel__page {
    bottom: 90px;
    left: calc(50% - -10px);
    max-width: 540px;
    position: absolute;
  }
  .top-keyvisual-carousel__button-next {
    right: calc((100% - 570px) / 2);
  }
  .top-keyvisual-carousel__button-prev,
  .top-keyvisual-carousel__button-next {
    margin-top: -52px;
    display: none;
  }
}

.top-keyvisual-carousel__button-prev::after,
.top-keyvisual-carousel__button-next::after {
  display: block;
  background: url(/common/images/btn_carousel.png) no-repeat;
  background-size: contain;
  content: '';
  height: 40px;
  width: 40px;
}

.top-keyvisual-carousel__button-prev {
  transform: rotate(180deg);
}

.top-keyvisual-carousel__button-pouse {
  background: url(/common/images/stop_icon.png) no-repeat;
  background-size: cover;
  border-radius: 100%;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-left: 15px;
  position: relative;
  width: 30px;
  z-index: 11;
  border: none;
}

.top-keyvisual-carousel__button-pouse.is-stop {
  background: url(/common/images/play_icon.png) no-repeat;
  background-size: cover;
}

.top-keyvisual-carousel__pagination {
  position: relative;
  text-align: left;
  vertical-align: sub;
  width: auto !important;
}

.top-keyvisual-carousel > .top-keyvisual-carousel__pagination {
  width: auto;
}
.top-keyvisual-carousel__pagination .swiper-pagination-bullet {
  background: #FFFFFF;
  border: solid 1px #fff;
  height: 12px;
  margin: 0;
  width: 12px;
}

.top-keyvisual-carousel__pagination .swiper-pagination-bullet:nth-child(n + 2) {
  margin-left: 12px;
}

.top-keyvisual-carousel__pagination .swiper-pagination-bullet-active {
  background: #000;
  border: solid 1px #fff;
}

.top-menu {
  background: #FEEBD3;
  padding: 55px 0;
}
.top-menu__inner{
  max-width: 810px;
  margin: auto;
}
.top-menu-wrap{
  display: flex;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
}
.top-menu-content{
  width: 18%;
}
.top-menu-content__image img{
  width: 100%;
  max-width: 130px;
  margin: auto;
}
.top-menu-content__title , .top-category-item__title{
  text-align: center;
  font-weight: 700;
  color: #000;
  font-size: 1.4rem;
  margin: 10px;
}
.top-news{
  padding: 90px 0 170px;
  border-bottom: #000 solid 3px;
  position: relative;
}
.top-news::before,.top-news::after,.top-category::before,.top-category::after{
  position: absolute;
  content: "";
  bottom: 0;
  z-index: 0;
}
.top-category-content{
  width: 15%;
}
.top-news::before{
  background: url(/common/images/news_bg_01_pc.png) no-repeat;
  background-size: contain;
  width: 305px;
  height: 108px;
  right: 50%;
  transform: translate(-50%) translateX(25%);
}
.top-news::after{
  background: url(/common/images/news_bg_02_pc.png) no-repeat;
  background-size: contain;
  width: 210px;
  height: 114px;
  left: 50%;
  transform: translate(50%) translateX(25%);
}
.top-news__inner{
  max-width: 950px;
  margin: auto;
}
.top-news__title ,.top-category__title{
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  color: #D85D29;
  margin: 0;
}
.top-news__title-en ,.top-category__title-en{
  display: block;
  font-size: 1.8rem;
  color: #000;
}
.top-news-wrap{
  margin-top: 40px;
}
.top-news-item__link{
  display: flex;
  align-items: center;
  gap: 30px;
  background: #FEEBD3;
  border-radius: 6px;
  padding: 20px 30px;
  position: relative;
  margin-top: 15px;
}
.top-news-item__link:first-child{
  margin-top: 0;
}
.top-news-item__link::after{
  position: absolute;
  right: 5%;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  border-right: 2px solid #D85D29;
  border-top: 2px solid #D85D29;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.top-news-item__head{
  max-width: 110px;
  width: 100%;
}
.top-news__label-event,.top-news__label-news{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  background: #D85D29;
  font-weight: 700;
  color: #fff;
}
.top-news__label-news{
  background: #2981D8;
}
.top-news-item__title{
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}
.top-news-item__date{
  color: #4D4D4D;
  font-size: 1.4rem;
  font-weight: 700;
}
.section__button-wrap {
  margin-top: 55px;
}
.section__button{
  background: #000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
  max-width: 370px;
  border-radius: 6px;
  height: 70px;
  position: relative;
  box-sizing: border-box;
}
.section__button::after{
  position: absolute;
  top: 50%;
  content: "";
  width: 15px;
  height: 15px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}
.section__button::after {
  right: 30px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.top-category{
  background: #FEEBD3;
  padding: 90px 0 170px;
  border-bottom: #000 solid 3px;
  position: relative;
}
.top-category__inner{
  max-width: 950px;
  margin: 0 auto;
}
.top-category-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-top: 40px;
}
.top-category-item__image img{
  width: 100%;
  max-width: 140px;
  margin: auto;
}
.top-category::before{
  background: url(/common/images/category_bg_01_pc.png) no-repeat;
  background-size: contain;
  width: 235px;
  height: 90px;
  right: 50%;
  transform: translate(-50%);
}
.top-category::after{
  background: url(/common/images/category_bg_02_pc.png) no-repeat;
  background-size: contain;
  width: 395px;
  height: 110px;
  right: 50%;
  transform: translate(50%) translateX(45%);
}
.top-cp{
  padding: 90px 0;
}
.top-cp__inner{
  max-width: 950px;
  margin: 0 auto;
}
.top-cp-wrap{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.top-cp-item__image img{
  max-width: 300px;
  width: 100%;
}
.page-label__text{
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 25px;
  z-index: 1;
  margin: 0;
}
.content__title{
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.shop-info,.shop-map{
  padding: 55px 0 0;
}
.shop-about{
  padding: 30px 0 0;
}
.shop-about__inner,.shop-info__inner{
  max-width: 950px;
  margin: auto;
  width: 100%;
}
.shop-about-wrap{
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.shop-about-carousel {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  max-width: 480px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
.shop-about-carousel__item{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.shop-about-carousel__item img{
  width: 100%;
  height: 100%;
}
.shop-map__inner{
  max-width: 950px;
  width: 100%;
  margin: auto;
}
.shop-map__inner iframe{
  display: block;
}
.shop-about-head{
  width: 45%;
}
.shop-about-head__text{
  font-size: 1.4rem;
  margin-top: 30px;
  line-height: 2;
}
.shop-about-head__text:first-child{
  margin-top: 0;
}
/* ショップ一覧カルーセル */
.shop-about-carousel__button-prev, .shop-about-carousel__button-next{
  height: 50px;
  width: 50px;
  top: 46%;
}
.shop-about-carousel__button-prev::after,
.shop-about-carousel__button-next::after {
  display: block;
  background: url(/common/images/btn_carousel.png) no-repeat;
  background-size: contain;
  content: '';
  height: 50px;
  width: 50px;
}
.shop-about-carousel__button-prev {
  transform: rotate(180deg);
}
.shop-about-carousel__page{
  margin-top: 10px;
  align-items: center;
  display: flex;
  transition: margin 0.5s ease-out;
  justify-content: center;
}
.shop-about-carousel__button-pouse {
  background: url(/common/images/orange_stop_icon.png) no-repeat;
  background-size: cover;
  border-radius: 100%;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-left: 15px;
  position: relative;
  width: 30px;
  z-index: 11;
  border: none;
}

.shop-about-carousel__button-pouse.is-stop {
  background: url(/common/images/orange_play_icon.png) no-repeat;
  background-size: cover;
}

.shop-about-carousel__pagination {
  position: relative;
  text-align: left;
  vertical-align: sub;
  width: auto !important;
}

.shop-about-carousel > .shop-about-carousel__pagination {
  width: auto;
}
.shop-about-carousel__pagination .swiper-pagination-bullet {
  background: #E5632C;
  border: solid 1px #E5632C;
  height: 12px;
  margin: 0;
  width: 12px;
}

.shop-about-carousel__pagination .swiper-pagination-bullet:nth-child(n + 2) {
  margin-left: 12px;
}

.shop-about-carousel__pagination .swiper-pagination-bullet-active {
  background: #fff;
  border: solid 1px #E5632C;
}
.shop-info-item:first-child{
  margin-top: 0;
}
.shop-info-item{
  display: flex;
  background: #FEE3D3;
  padding: 20px 70px;
  gap: 15px;
  margin-top: 2px;
}
.shop-info-item__head{
  font-weight: 700;
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100px;
}

.shop-info-item___guide{
  width: 100%;
}

.shop-info-item___text{
  font-size: 1.4rem;
  margin-top: 10px;
}

.shop-info-item___text:first-child{
  margin-top: 0;
}

.shop-info-item__link{
  text-decoration: underline;
  color: #000;
  display: inline-block;
}

.shop-info-item__link:hover{
  text-decoration: none;
}

.section__button--important{
  background: #D85D29;
}

.section__button--back::after{
  right: auto;
  left: 30px;
  -webkit-transform: translateY(-50%) rotate(-135deg);
  -ms-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
}
@media screen and (max-width: 767px) {
  .pc-only{
    display: none;
  }
  .sp-only{
    display: block;
  }
  .section > div {
    padding-left: 5%;
    padding-right: 5%;
  }
  .pagetop{
    right: 16px;
  }
  .header__sp-wrap{
    position: relative;
  }
  .header__sp-logo img{
    max-width: 225px;
    width: 100%;
  }
  .floating-menu{
    position: fixed;
    width: 70%;
    right: -70%;
    top: 0;
    z-index: 5;
    background: #EEDCB2;
    transition: opacity 0.15s ease-out, 0.3s ease-out;
    height: 100vh;
  }
  .floating-menu.is-open{
    right: 0;
  }
  .floating-menu__list{
    padding-left: 11.5%;
  }
  .floating-menu__list-label{
    margin-top: 15px;
  }
  .floating-menu__list-label a{
    display: flex;
    gap: 5%;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
  }
  .floating-menu__list-label-img{
    width: 44px;
  }
  .floating-menu__list-insta-img{
    width: 64px;
  }
  .header__sp-content{
    display: flex;
    height: 68px;
    justify-content: space-between;
    padding: 0 11px 0 15px;
    position: relative;
    align-items: center;
  }
  .header__sp-btn-insta{
    margin-right: 15px;
  }
  .header__sp-btn-insta img{
    width: 32px
  }
.header__sp-btn-wrap{
  display: flex;
}
.header__sp-btn-menu{
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  z-index: 6;
  }
  .header__sp-btn-menu span,
  .header__sp-btn-menu span:before,
  .header__sp-btn-menu span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #D85D29;
      position: absolute;
  }
  .header__sp-btn-menu span:before {
      bottom: 9px;
  }
  .header__sp-btn-menu span:after {
      top: 9px;
  }
  .header__sp-menu-close span:before,
  .header__sp-menu-close span:after{
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000000;
    position: absolute;
    right: 25px;
  }
  .header__sp-menu-close span:before{
    transform: translateY(35px) rotate(45deg);
  }
  .header__sp-menu-close span:after{
    transform: translateY(35px) rotate(-45deg);
  }
  .floating-menu__list-wrap{
    margin-top: 30%;
  }
  .footer-menu{
    flex-direction: column;
    text-align: center;
    padding:40px 10% 100px
  }
  .footer-menu__list-item{
    font-size: 1.3rem;
  }
  .footer-menu__list-item:first-child{
    margin: 25px 0 0;
  }
  .footer::after{
    height: 65px;
    bottom: 5%;
  }
  .footer-menu__note-list-item > a{
    padding: 0 2px 0 19px;
    font-size: 1.3rem;
  }
  .footer-menu__text{
    font-size: 1.6rem;
  }
  .top-keyvisual::after{
    height: 65px;
    bottom: 10px;
  }
  .top-keyvisual-carousel{
    padding: 15px 5% 30px;
  }
  .top-menu-wrap{
    gap: 0 15px;
  }
  .top-menu-content__image img{
    width: 100%;
  }
  .top-menu-content{
    width: 30%;
  }
  .top-news ,.top-category{
    padding: 55px 0 130px;
  }
  .top-news-item__title{
    font-size: 1.6rem;
  }
  .top-news__label-event, .top-news__label-news{
    font-size: 1.4rem;
  }
  .top-news-item__link{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 15px;
  }
  .top-news::before{
    background: url(/common/images/news_bg_01_sp.png) no-repeat;
    background-size: contain;
    width: 185px;
    height: 65px;
    left: 0;
    transform: none;
  }
  .top-news::after{
    background: url(/common/images/news_bg_02_sp.png) no-repeat;
    background-size: contain;
    width: 140px;
    height: 70px;
    right: 0;
    left: auto;
    transform: none;
  }
  .top-category::before{
    background: url(/common/images/category_bg_01_sp.png) no-repeat;
    background-size: contain;
    width: 129px;
    height: 55px;
    left: 0;
    transform: none;
  }
  .top-category::after{
    background: url(/common/images/category_bg_02_sp.png) no-repeat;
    background-size: contain;
    width: 188px;
    height: 75px;
    right: 0;
    left: auto;
    transform: none;
  }
  .section__button{
    max-width: 280px;
    font-size: 1.6rem;
  }
  .top-cp-wrap{
    flex-direction: column;
  }
  .top-cp-item__image img {
    max-width: 100%;
  }
  .top-category-content{
    width: 30%;
  }
  .top-news__title ,.top-category__title{
    font-size: 2.8rem;
  }
  .top-news__title-en ,.top-category__title-en{
    font-size: 1.6rem;
  }
  .section__button-wrap{
    margin-top: 30px;
  }
  .shop-info, .shop-map{
    padding-top: 35px;
  }
  .shop-about{
    padding: 15px 0 0;
  }
  .shop-about-wrap{
    flex-direction: column;
    gap: 25px;
  }
  .shop-about-head{
    width: 100%;
  }
  .shop-about-carousel{
    padding-bottom: 0;
  }
  .shop-about-carousel__button-prev, .shop-about-carousel__button-next{
    height: 40px;
    width: 40px;
    top: 40%;
  }
  .shop-about-carousel__button-prev::after,
  .shop-about-carousel__button-next::after {
    height: 40px;
    width: 40px;
  }
  .content__title img{
    width: 70%;
  }
  #breadcrumbTop{
    margin: 8px 0 0;
  }
  #breadcrumbBottom{
    margin: 55px 0 8px;
    margin-top: 55px;
  }
  #breadcrumbTop ul, #breadcrumbBottom ul{
    padding: 0 5%;
    line-height: 1.2;
  }
  .page-label__text{
    font-size: 2.4rem;
    padding: 20px;
    line-height: 1.3;
  }
  .shop-info-item{
    padding: 15px;
  }
  .shop-info-item__head{
    max-width: 20%;
  }
  .page-label::after{
    height: 40px;
    bottom: 3px;
  }
}